<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="registration.css">
</head>
<body>
	<form action="register" method="post">
		<label ><h4>User name:</h4></label>
		<input type ="text" name="username"/>
		<br><br>
		<label ><h4>Email:</h4></label>
		<input type ="email" name="email"/>
		<br><br>
		<label ><h4>Password:</h4></label>
		<input type ="password" name="password"/>
		<br><br>
		<label><h4>Gender:</h4></label><br>
		M<input type ="radio" name="gender" value="male"/>
		F<input type ="radio" name="gender" value="female"/>
		O<input type ="radio" name="gender" value="other"/>
		<br><br>
		<label><h4>Role:</h4></label><br>
		Admin<input type ="radio" name="role" value="admin"/>
		Customer<input type ="radio" name="role" value="customer"/>
		<br>
		<br>
		<label ><h4>Role:</h4></label><br>
		<textarea name="address"></textarea>
		<br><br>
		<input type="submit" value="registration">
		
	</form>
</body>
</html>